<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://mysensei-mek.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>mysensei-mek.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>MySensei-MEK</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$MySensei-MEK</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="IdentityDb" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:indentitydbmek.database.windows.net,1433;Initial Catalog=IdentityDb;User ID=emil@indentitydbmek;Password=Password1;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:indentitydbmek.database.windows.net,1433;Database=IdentityDb;User ID=emil@indentitydbmek;Password=Password1;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="MySensei.Infrastructure.AppIdentityDbContext, MySensei" MigrationConfiguration="MySensei.Migrations.Configuration, MySensei" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)IdentityDb-Web.config Connection String">
      <ParameterValue>Server=tcp:indentitydbmek.database.windows.net,1433;Database=IdentityDb;User ID=emil@indentitydbmek;Password=Password1;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>